*{
    margin: 0;
    padding: 0;
    font-family: 'century gothic';
}

header{
    padding: 20px;
    text-align: center;
    background-color: #111D4A;
    color:white;
}



#text-field
{
    text-align: center;
    margin-top: 20px;
}

form
{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

#text-field > #task-input
{
    width: 60%;
    padding: 10px 100px 10px 20px;
    font-size: 22px;
    border-radius: 5px;
}

#text-field > #submit-btn
{
    padding: 15px 25px 15px 25px;
    font-size: 16px;
    background-color: #111D4A;
    border: none;
    color:white;
    position: relative;
    top:-2px;
    left: -100px;
    border-radius: 5px;
}

.task-item
{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    padding-left: 120px;
}

.task-item > button > i
{
    font-size: 28px;
    border: none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}

.task-item > button > i:hover
{
    background-color: #111D4A;
    color:white;
}

.task-item > label 
{
    padding: 5px;
    margin: 20px;
    font-size: 28px;

}

#tasks-container
{
    max-height: 450px;
    overflow-y: scroll;
    
}